.contact-container {
  margin: 5rem 0rem;
}
.contact-content {
  display: flex;
  justify-content: space-between;
}
.contact-form {
  width: 50%;
}
.contactCardInfo {
  width: 50%;
}
@media (max-width: 760px) {
  .contact-form {
    width: 100%;
  }
  .contactCardInfo {
    width: 100%;
  }
  .contact-content {
    flex-direction: column;
  }
}
